name: Build Test Upload

on: [push, pull_request]

jobs:
  macos:
    runs-on: macos-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Use Python 3.11 (for distutils)
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: npm install
        run: |
          npm install

      - name: npm test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run lint
          npm exec tsc
          npm test
          npm run package

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: macos
          path: |
            release/build/ReplayManagerForSlippi*.dmg
  ubuntu:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install libudev
        run: |
          sudo apt update -y
          sudo apt install -y libudev-dev

      - name: npm install
        run: |
          npm install

      - name: npm test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run lint
          npm exec tsc
          npm test
          npm run package

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu
          path: |
            release/build/ReplayManagerForSlippi*.AppImage
  windows:
    runs-on: windows-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install libuv
        uses: johnwason/vcpkg-action@v7
        with:
          pkgs: 'libuv'
          triplet: 'x64-windows-release'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: npm install
        run: |
          npm install

      - name: npm test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run lint
          npm exec tsc
          npm test
          npm run package

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: |
            release/build/ReplayManagerForSlippi*.exe
